.notification {
  width: 300px;
  padding: 15px 10px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--notification-text-color);
  border-radius: 4px;
  background-color: var(--notification-bg-color);
  box-shadow: 0 2px 8px var(--color-opacity-primary);
}

.notification .title {
  font-weight: var(--font-weight-bold);
}

.notification .description {
  padding-top: 5px;
  font-size: var(--font-size-xxs);
}

@media screen and (min-width: 600px) {
  .notification {
    width: 400px;
  }
}
