.notification {
  padding: 15px 10px;
  background-color: var(--color-white-100);
  width: 300px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--color-black-200);
  border-radius: 4px;
}

.notification .title {
  font-weight: var(--font-weight-bold);
}

.notification .description {
  padding-top: 5px;
  font-size: var(--font-size-xxs);
}

.notification.notification-dark {
  background-color: var(--color-black-300);
  color: var(--color-white-100);
}

@media screen and (min-width: 600px) {
  .notification {
    width: 400px;
  }
}
