.table-vocabulary .row {
  display: flex;
}

.table-vocabulary .row .cell {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-black-500);
}

.table-vocabulary .table-body .row:nth-child(even):hover,
.table-vocabulary .table-body .row:nth-child(odd) {
  background-color: var(--table-bg-color);
}
