.btn {
  cursor: pointer;
  padding: 10px 20px;
  font-size: var(--font-size-s);
  color: var(--text-secondary-color);
  font-weight: var(--font-weight-light);
  background-color: var(--button-primary-color);
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.btn.btn-size-m {
  font-size: var(--font-size-m);
}

.btn.btn-size-s {
  font-size: var(--font-size-s);
}

.btn.btn-size-xs {
  font-size: var(--font-size-s);
  padding: 2px 15px;
}

.btn:disabled {
  opacity: 0.6;
  cursor: default;
}
