.btn {
  cursor: pointer;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-light);
  font-family: var(--font-primary), var(--font-default);
  border-radius: 3px;
  box-sizing: border-box;
}

.btn.btn-primary {
  padding: 10px 20px;
  color: var(--text-secondary-color);
  background-color: var(--button-primary-color);
  border: none;
}

.btn.btn-secondary {
  width: 25px;
  height: 25px;
  color: var(--button-primary-color);
  background-color: transparent;
  border: 2px solid var(--button-primary-color);
}

.btn.btn-tertiary {
  border: none;
  background-color: transparent;
  color: var(--button-primary-color);
}

.btn.btn-size-xxl {
  font-size: var(--font-size-xxl);
}

.btn.btn-size-m {
  font-size: var(--font-size-m);
}

.btn.btn-size-s {
  font-size: var(--font-size-s);
}

.btn.btn-size-xs {
  font-size: var(--font-size-s);
  padding: 5px 15px;
}

.btn:disabled {
  opacity: 0.6;
  cursor: default;
}
