.label-wrapper {
  width: fit-content;
  font-family: var(--font-regular), var(--font-default);
  line-height: 18px;
  padding: 5px 12px;
  border: 1px;
  border-style: solid;
}

.label-wrapper.label-primary {
  border-color: var(--color-fade);
  color: var(--color-secondary);
  border-radius: 8px;
}

.label-wrapper.label-success {
  border-color: var(--color-success);
  color: var(--color-success);
  border-radius: 8px;
}

.label-wrapper.label-warning {
  border-color: var(--color-warning);
  color: var(--color-warning);
  border-radius: 8px;
}
