.wrapper {
  height: 100%;
}

.wrapper .wrapper-header {
  width: 100%;
  height: 10%;
  padding: 15px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}

.wrapper .wrapper-header button {
  height: 100%;
}

.wrapper-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-box {
  min-width: 55%;
  border-radius: 4px;
  padding: 50px;
  box-shadow: 0 2px 8px var(--color-opacity-primary);
  background-color: var(--color-white-100);
}
