.wrapper {
  height: 100%;
}

.wrapper .wrapper-header {
  width: 100%;
  height: 70px;
  padding: 15px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}

.wrapper .wrapper-header a,
.wrapper .wrapper-header button {
  height: 100%;
}

.wrapper-content {
  min-height: calc(100vh - 70px - 120px);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-box {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: 55%;
  border-radius: 4px;
  padding: 50px;
  box-shadow: 0 2px 8px var(--color-opacity-primary);
  background-color: var(--background-secondary-color);
}

.wrapper-box .description {
  line-height: 20px;
  text-align: center;
}

.wrapper-box .description > p {
  padding-bottom: 10px;
}

.wrapper-box .description p:first-child {
  padding-bottom: 10px;
  line-height: 30px;
}
