.spinner-wrapper-primary {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  background-color: var(--overlay-opacity);
}

.spinner {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--color-gray-200);
  border-top-color: var(--color-gray-300);
  animation: spinAnimation 0.8s linear infinite;
}

.spinner-m {
  width: 30px;
  height: 30px;
  border-width: 4px;
}

.spinner-s {
  width: 20px;
  height: 20px;
  border-width: 2px;
}

@keyframes spinAnimation {
  to {
    transform: rotate(360deg);
  }
}
