:root {
  /* Colors */
  --color-black-100: #000;
  --color-black-200: #333;
  --color-black-300: #555;
  --color-black-400: #888;
  --color-black-500: #ddd;

  --color-grey-100: #786f6f;
  --color-gray-200: #868e96;
  --color-gray-300: #343a40;

  --color-white-100: #fff;
  --color-white-200: #f3f4f8;
  --color-white-300: #f5f5f5;
  --color-white-400: #e8e8e8;
  --color-white-500: #f9f9f9;

  --color-red-100: #f30000;
  --color-red-200: #a94442;
  --color-red-300: #d9534f;
  --color-red-400: #f76b6b;
  --color-red-500: #f2dede;

  --color-green-100: #5cb85c;
  --color-green-200: #dff0d8;

  --color-cyan-100: #5bc0de;
  --color-cyan-200: #d9edf7;

  --color-orange-100: #ff7300;
  --color-orange-200: #f0ad4e;
  --color-orange-300: #ffca9e;

  --color-yellow-100: #fcf8e3;
  --color-yellow-200: #faebcc;

  --color-brown-100: #6b3000;

  --color-opacity-primary: rgba(56, 67, 84, 0.05);
  --color-opacity-secondary: rgba(0, 0, 0, 0.1);
  --color-opacity-tertiary: rgba(243, 244, 248, 0.65);
  --color-opacity-quaternary: rgba(255, 255, 255, 0.8);

  --process-bar-opacity: rgba(255, 255, 255, 0.15);
  --overlay-opacity: rgba(255, 255, 255, 0.5);

  /* Background colors */
  --background-primary-color: var(--color-white-200);
  --background-secondary-color: var(--color-white-100);

  /* Button colors */
  --button-primary-color: var(--color-brown-100);
  --button-text-color-primary: var(--color-white-100);

  /* Topic colors */
  --topic-primary-color: var(--color-brown-100);

  /* Notification colors */
  --notification-bg-color: var(--color-white-100);
  --notification-text-color: var(--color-black-200);

  /* Table colors */
  --table-text-color-primary: var(--color-black-200);
  --table-text-color-secondary: var(--color-black-200);
  --table-bg-color: var(--color-white-500);

  /* Text colors */
  --text-default-color: var(--color-black-200);
  --text-primary-color: var(--color-black-100);
  --text-secondary-color: var(--color-white-100);
  --text-tertiary-color: var(--color-black-200);
  --text-quaternary-color: var(--color-orange-100);
  --text-error-color: var(--color-red-100);

  /* Input colors */
  --input-default-color: var(--color-white-300);
  --input-error-color: var(--color-red-500);
  --input-success-color: var(--color-green-200);
  --input-border-primary-color: var(--color-brown-100);

  /* Font sizes */
  --font-size-xxl: 30px;
  --font-size-xl: 24px;
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 15px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;

  /* Font weight */
  --font-weight-bold: 700;
  --font-weight-semiBold: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  /* Fonts */
  --font-primary: HelveticaNeue;
  --font-default: Helvetica, Arial, sans-serif;
}

:root .dark {
  --background-primary-color: #1a1b1e;
  --background-secondary-color: #25262b;

  /* Topic colors */
  --topic-primary-color: var(--color-orange-300);

  /* Button colors */
  --button-primary-color: var(--color-orange-300);
  --button-text-color-primary: var(--color-black-200);

  /* Text colors */
  --text-default-color: var(--color-white-100);
  --text-tertiary-color: var(--color-black-500);

  /* Input colors */
  --input-border-primary-color: var(--color-orange-300);

  /* Notification colors */
  --notification-bg-color: var(--color-black-300);
  --notification-text-color: var(--color-white-100);

  /* Table colors */
  --table-text-color-primary: var(--color-white-100);
  --table-text-color-secondary: var(--color-black-400);
  --table-bg-color: var(--color-black-300);
}
