.toggle {
  cursor: pointer;
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 45px;
  background-color: var(--color-black-500);
}

.toggle > input {
  width: 100%;
  height: 100%;
  display: none;
}

.toggle > input:checked + .slider-wrapper {
  left: 42px;
}

.toggle .slider-wrapper {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 4px;
  left: 6px;
  border-radius: 50%;
}

.toggle .slider-wrapper-dark {
  background: url(../../assets/icons/moon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-black-400);
}

.toggle .slider-wrapper-light {
  background: url(../../assets/icons/sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-black-400);
}
