.wrapper-vocabularies-page .form-add-new-vocabulary {
  height: max-content;
  width: fit-content;
  margin: auto;
  padding: 20px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-vocabularies-page .pagination {
  padding-top: 20px;
}

.wrapper-vocabularies-page .form-add-new-vocabulary,
.wrapper-vocabularies-page .form-add-new-vocabulary .input-wrapper {
  width: 100%;
}

.wrapper-vocabularies-page .form-add-new-vocabulary > button {
  width: 100%;
}

.wrapper-vocabularies-page .actions-wrapper {
  padding: 10px 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.wrapper-vocabularies-page .actions-wrapper .button-load-more {
  padding: 0;
  color: var(--color-orange-100);
  background-color: transparent;
  text-decoration: underline;
}

.wrapper-vocabularies-page .actions-wrapper > .button-load-more:hover {
  opacity: 0.7;
}

.wrapper-vocabularies-page .actions-wrapper button {
  width: 100%;
}

.wrapper-vocabularies-page .table-vocabulary {
  margin-top: 20px;
}

.overlay-modal {
  inset: 0;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: var(--overlay-opacity);
  animation: opacityAnimation linear 0.2s;
}

@media screen and (min-width: 600px) {
  .wrapper-vocabularies-page .form-add-new-vocabulary {
    flex-direction: row;
    height: 46px;
  }

  .wrapper-vocabularies-page .form-add-new-vocabulary .input-wrapper {
    width: 170px;
  }

  .wrapper-vocabularies-page .form-add-new-vocabulary > button {
    height: 100%;
    width: fit-content;
  }

  .wrapper-vocabularies-page .actions-wrapper button {
    width: fit-content;
  }
}
