.typography-xxs {
  font-size: var(--font-size-xxs);
}

.typography-xs {
  font-size: var(--font-size-xs);
}

.typography-s {
  font-size: var(--font-size-s);
}

.typography-m {
  font-size: var(--font-size-m);
}

.typography-l {
  font-size: var(--font-size-l);
}

.typography-xl {
  font-size: var(--font-size-xl);
}

.typography-xxl {
  font-size: var(--font-size-xxl);
}

.typography-color-primary {
  color: var(--text-default-color);
}

.typography-color-secondary {
  color: var(--text-tertiary-color);
}

.typography-color-tertiary {
  color: var(--color-black-100);
}

.typography-color-secondary.typography-tertiary {
  color: var(--color-black-500);
}
