.label {
  width: fit-content;
  height: 23px;
  padding: 2px 15px;
  border-radius: 50px;
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-regular);
  line-height: 23px;
}

.label.label-success {
  background-color: var(--color-green-200);
}

.label.label-failed {
  background-color: var(--color-red-500);
}

.label.label-normal {
  background-color: var(--color-cyan-200);
}
