.wrapper-result-page .total,
.wrapper-result-page .answers {
  display: flex;
  justify-content: center;
}

.wrapper-result-page .answers {
  padding: 10px 0;
  gap: 8px;
}

.wrapper-result-page .table-box {
  text-align: center;
  width: 360px;
  margin: auto;
}

.wrapper-result-page .table-box button {
  margin-top: 20px;
}
