.wrapper-result-page .total,
.wrapper-result-page .answers {
  display: flex;
  justify-content: center;
}

.wrapper-result-page .answers {
  padding: 10px 0;
  gap: 8px;
}

.wrapper-result-page .cell {
  min-width: 60px;
}

.wrapper-result-page .table-box {
  text-align: center;
  width: 300px;
  margin: auto;
}

.wrapper-result-page .table-box button {
  margin-top: 20px;
}

@media screen and (min-width: 1000px) {
  .wrapper-result-page .cell {
    min-width: 85px;
  }

  .wrapper-result-page .table-box {
    width: 430px;
  }
}
