.wrapper-vocabularies-page .form-add-new-vocabulary {
  height: max-content;
  width: fit-content;
  margin: auto;
  padding: 20px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-vocabularies-page .pagination {
  padding-top: 20px;
}

.wrapper-vocabularies-page .form-add-new-vocabulary,
.wrapper-vocabularies-page .form-add-new-vocabulary .input-wrapper {
  width: 100%;
}

.wrapper-vocabularies-page .form-add-new-vocabulary > button {
  width: 100%;
}

.wrapper-vocabularies-page .actions-wrapper {
  padding: 20px 0;
  text-align: center;
}

.wrapper-vocabularies-page .actions-wrapper button {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .wrapper-vocabularies-page .form-add-new-vocabulary {
    flex-direction: row;
    height: 46px;
  }

  .wrapper-vocabularies-page .form-add-new-vocabulary .input-wrapper {
    width: 170px;
  }

  .wrapper-vocabularies-page .form-add-new-vocabulary > button {
    height: 100%;
    width: fit-content;
  }

  .wrapper-vocabularies-page .actions-wrapper button {
    width: fit-content;
  }
}
