.table-row {
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-black-500);
  color: var(--table-text-color-primary);
  font-size: var(--font-size-xxxs);
}

.table-row.table-row-s {
  height: 30px;
}

.table-row.table-row-m {
  height: 42px;
}

.table-body .table-row:nth-child(even) {
  background-color: transparent;
}

.table-body .table-row:nth-child(even):hover,
.table-body .table-row:nth-child(odd) {
  background-color: var(--table-bg-color);
}

.table-body .table-cell-border .table-row:nth-child(odd) {
  background-color: transparent;
}

.table-body .table-cell-border .table-row:hover {
  background-color: var(--color-white-300);
}

@media screen and (min-width: 1000px) {
  .table-row {
    font-size: var(--font-size-xs);
  }
}
