.table-cell {
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.table-cell.table-cell-success {
  background-color: var(--color-green-200);
}

/* Use class table-wrapper-dark that can 
  be changed based on the theme passed from the table component */
.table-wrapper-dark .table-cell.table-cell-success,
.table-wrapper-dark .table-cell.table-cell-failed {
  color: var(--color-black-400);
}

.table-cell.table-cell-failed {
  background-color: var(--color-red-500);
}
