.wrapper-home-page .topics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  padding: 25px 0 15px 0;
}

.wrapper-home-page .topics .topic {
  width: 100%;
}

.overlay {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(10px);
  background-color: var(--overlay-opacity);
  animation: opacityAnimation linear 0.2s;
}

.overlay > button {
  top: 10px;
  right: 10px;
  position: absolute;
}

.overlay .overlay-content {
  margin-top: 100px;
  min-width: 300px;
  height: fit-content;
  position: absolute;
  top: 10%;
  left: 50%;
  background-color: var(--color-white);
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

.overlay .overlay-content > p {
  text-align: center;
}

.overlay .overlay-content > .input-wrapper {
  margin: 30px 0 10px 0;
}

.overlay .overlay-content > button {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .wrapper-home-page .topics .topic {
    width: 150px;
  }

  .overlay .overlay-content {
    margin-top: 0;
  }
}
